// this is a Sass silent comment.
// we don't need to show the world all this instructional stuff
// sometimes notes are just for the developers

/*
This is the primary HTML style
*/

html {
    font-size: (12 / 16) * 1em;
}

// Nesting your selectors
.foo-1 {
  background: orange;
  p {
    color: blue;
    font-size: 14px;
    font-weight: bold;
  }
}

// Nested properties
.foo-2 {
  font: {
    family: arial;
    weight: bold;
    size: 2em;
  }
}

// Redefining the parent selector w/nested selectors
a {
  color: blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.foo-3 {
  background: orange;
  &.block {
    border: 1px solid;
  }
}

.foo-4 {
  .cssgradients & {
    background: -webkit-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
    background: -moz-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
    background: linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
  }
  .no-cssgradients & {
    background: #c9de96;
  }
}

.foo-5 {
  .awesome {
    .class {
      .amazing {
        .things {
          background: orange;
          .no-foo & {
            background: green;
          }
        }
      }
    }
  }
}
